/app/src/main/assets/link.txt
/app/build
/app/app.iml
/Drawable/Raw
/.git
/.gradle
/.idea
/build
/gradle
.gitignore
gradlew
gradlew.bat
OSBuild.codelines
OSBuild.iml
build.gradle
settings.gradle
gradle.properties
local.properties
